.body-border{
  width: 600px;
  height: 340px;
  margin: 30px auto;
  background: #fff;
  .body-title-login{
    width: 600px;
    height: 50px;
    text-align: center;
    position: relative;
    a{
      cursor: pointer;
      font-size: 16px;
      font-family: PTSansBold;
      text-transform: uppercase;
    }
    .body-title
    {
      float: left;
      height: 50px;
      width: 300px;
      padding: 16px;
      cursor:pointer;
      a{
        color: #fff;
      }
      background: #ccad14;

      &.selected
      {
        background: #fff;
        a{
          color: #3d3d3d;
        }
      }
    }
  }
  .body-content-login{
    height: auto;
    position: relative;
    .warn{
      text-align: center;
      margin: 10px 25px 0px 25px;
    }
    .body-content-form{
//      float: left;
      margin: 0 auto;
      width: 288px;
      min-height: 100px;
      padding: 24px 0 0 17px;
      label{
        color: #808080;
        font-size: 16px;
        margin: 20px 0 10px 0;
        font-family: PTSansRegular;
      }
      input{
        height: 32px;
        width: 270px;
        padding: 0 0 0 15px;
        border: 1px solid #808080;
      }
      .kod{
        width: 185px;
      }
      .ubi-kapza{
        width: 285px;
        height: auto;
        margin: 10px 0 0 0;
        position: relative;
        .kap{
          height: 40px;
          width: 125px;
        }
        a{
          color: #ccad14;
          font-size: 16px;
          padding: 0 0 0 10px;
          font-family: PTSansRegular;
        }
      }
      .popup-login-wrap{
        margin: 15px 0 0 0;
      }
      .form-group
      {
        margin: 0 0 24px 0;
      }
      div{
        position: relative;
//        margin: 0 0 0 0;
        .popup-login-button{
          color: #333333;
          font-size: 16px;
          margin: 10px auto 0 auto;
          display:block;
          background: #308fed;
          text-decoration: none;
          padding: 7px 25px 7px 25px;
          font-family: PTSansBold;
          border: 2px solid #5c5c5c;
          text-transform: uppercase;
        }
        a{
          cursor: pointer;
          color: #ccad14;
          font-size: 16px;
          padding: 0 0 0 25px;
          text-decoration: underline;
          font-family: PTSansRegular;

        }
      }
    }
    .body-content-social{
      float: left;
//      width: 300px;
      height: auto;
      .body-social-content{
//        width: 300px;
//        height: 200px;
        margin: 25px 0 0 0;
//        border-left: 1px solid #e5e5e5;
      }
    }
  }

  .body-content {
    position: relative;
    height: 289px;
    .body-another {
      text-align: center;
      margin: 10px 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      a {
        cursor: pointer;
      }
    }
  }

  .body-social-content
  {
    .eauth
    {
      .eauth-list
      {
        margin: 0 auto;
        width:500px;
      }

      .eauth-service
      {
        margin: 25px 51px 11px 51px;
      }

      .eauth-service-link:before
      {
        width: 62px;
        height: 62px;
        left: 16px;
      }

      .eauth-service-link {
        padding-top: 71px;
        color: #a7a7a7;
        font-size: 11pt;
      }



      .eauth-service-id-google_oauth .eauth-service-link:before
      {
        background: url("/images/oauth/google.png") 0 0 no-repeat;
      }
      .eauth-service-id-facebook .eauth-service-link:before
      {
        background: url("/images/oauth/facebook.png") 0 0 no-repeat;
      }
      .eauth-service-id-yandex_oauth .eauth-service-link:before
      {
        background: url("/images/oauth/yandex.png") 0 0 no-repeat;
      }
      .eauth-service-id-vkontakte .eauth-service-link:before
      {
        background: url("/images/oauth/vk.png") 0 0 no-repeat;
      }
      .eauth-service-id-mailru .eauth-service-link:before
      {
        background: url("/images/oauth/mailru.png") 0 0 no-repeat;
      }
      .eauth-service-id-twitter .eauth-service-link:before
      {
        background: url("/images/oauth/twitter.png") 0 0 no-repeat;
      }
    }
  }
}