html, body {
  height: 100%;
}
body {
  background: transparent url("/images/background.png") repeat fixed 0;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: "Oswald", serif;
  font-weight: 100;
}

.container {
  max-width: 900px;
  padding: 0;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap {
  .number-color {
    color: #F6511D;
  }
  & > .container {
    .col-header-logo {
      font-family: "Oswald", serif;
      font-weight: 100;
      padding: 0;
      text-align: left;
      color: #fff;
      .logo {
        width: 218px;
        padding: 6px 0;
      }
      @media (max-width: 992px) {
        text-align: center;
      }
    }
    .col-header {
      font-family: "Oswald", serif;
      font-weight: 100;
      padding: 0;
      text-align: right;
      color: #fff;
      p{
        text-align: center;
      }
      &.col-md-2 {
        max-width: 129px;
        margin-left: 21px;
        border-left: 1px solid #F6511D;
        margin-top: 5px;
        @media (max-width: 992px) {
          max-width: 100%;
          border: none;
          display: table;
          width: 100%;
          margin: 20px 0 10px;
        }
      }
      #phone {
        display: inline-block;
        font-size: 15px;
        margin: 18px 0 20px;
        border-radius: 3px;
        min-height: 21.44px;
        #icon-phone {
          height: 22px;
          margin-bottom: -2px;
          margin-right: 5px;
        }
        #icon-circle-down {
          height: 15px;
          margin-bottom: 1px;
          margin-left: 9px;
        }
        img {
          margin: -4px 5px 0 0;
        }
        .point {
          margin: 0 5px 4px;
          background-color: #fff;
          border-radius: 100%;
          height: 5px;
          width: 5px;
          display: inline-block;
        }
      }
      #call-back, #orders {
        font-size: 14px;
      }
      .bucket {
        position: relative;
        display: inline-block;
        @media (max-width: 992px) {
          display: table-cell;
          width: 1%;
        }
        #bucket {
          font-weight: normal;
          cursor: pointer;
          display: inline-block;
          border: 1px solid #FFB400;
          color: #FFB400;
          height: 40px;
          line-height: 39px;
          padding: 0 7px 0 20px;
          font-size: 20px;
          svg {
            height: 22px;
            margin-bottom: -4px;
            g {
              fill: #FFB400;
            }
          }
          &.full {
            background-color: #FFB400;
            color: #000;
            svg {
              g {
                fill: #000;
              }
            }
          }
        }
        .bucket-hidden {
          position: absolute;
          z-index: 2000;
          background-color: rgb(255, 255, 255);
          padding: 5px 15px;
          color: #000;
          right: 50%;
          margin-right: -82px;
          & > img {
            width: 134px;
            padding: 0 20px;
          }
          .product-bucket {
            font-size: 10px;
            text-align: left;
            display: table;
            width: 100%;
            padding: 5px 0 3px;
            border-bottom: 1px dotted;
            margin-left: -1px;
            & > div {
              display: table-cell;
              vertical-align: middle;
              padding-right: 10px;
              &:first-child {
                width: 100%;
              }
              &:last-child {
                padding: 0;
              }
              &.bucket-title {
                span {
                  font-family: 'Corbel', serif;
                }
              }
            }
            .count-bucket {
              width: 26px;
              font-size: 11px;
              text-align: center;
            }
            .delete-bucket {
              width: 9px;
            }
            img {
              height: 9px;
              cursor: pointer;
              &.bucket-plus {
                -webkit-transform: scale(-1);
                -moz-transform: scale(-1);
                -ms-transform: scale(-1);
                -o-transform: scale(-1);
                transform: scale(-1);
              }
            }
          }
          .sum-bucket {
            overflow: hidden;
            font-size: 14px;
            margin-top: 4px;
            border-top: 1px dotted;
            border-bottom: 1px dotted;
            padding: 10px 0 7px;
            p {
              margin: 0;
            }
            .pull-right {
              color: #7FB800;
            }
          }
          .order-bucket {
            margin-top: 4px;
            border-top: 1px dotted;
            text-align: center;
            margin-left: 1px;
            padding: 10px 0 5px;
            a {
              text-decoration: none;
              color: #7FB800;
              border: 1px solid;
              background: #fff;
              display: inline-block;
              padding: 4px 10px;
              font-size: 10px;
            }
          }
        }
      }
      .costs {
        margin: 11px 0 5px;
        font-size: 18px;
        @media (max-width: 992px) {
          display: table-cell;
          width: 1%;
        }
      }
      .navbar-form {
        font-weight: normal;
        margin: 15px 0 17px;
        padding: 0;
        .btn-link {
          font-size: 18px;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0;
          &:hover {
            text-decoration: underline;
          }
          &:first-child {
            padding-right: 8px;
            margin-right: 8px;
          }
        }
      }
      @media (max-width: 992px) {
        text-align: center;
        &.col-md-offset-1 {
          border: none;
          margin-bottom: 5px;
        }
      }
    }
    @media (max-width: 992px) {
      .raw-mobile {
        overflow: hidden;
      }
    }
    .order-create {
      width: 50%;
      padding-right: 25px;
      float: left;
      min-width: 300px;
    }
    .order-items {
      width: 50%;
      float: right;
      min-width: 300px;
      padding-left: 25px;
      .order-item {
        background: #FFF;
        color: #000;
        padding: 5px 10px;
        display: table;
        width: 100%;
        & > div {
          display: table-cell;
          vertical-align: middle;
          .bucket-plus {
            -webkit-transform: scale(-1);
            -moz-transform: scale(-1);
            -ms-transform: scale(-1);
            -o-transform: scale(-1);
            transform: scale(-1);
          }
        }
        .order-title {
          width: 50%;
          & > div {
            font-size: 16px;
            //display: inline-block;
            span {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}

.footer {
  height: 60px;
  padding-top: 20px;
  color: #fff;
  background-color: #7FB800;
  font-family: "Oswald", serif;
  font-weight: 100;
  .pull-right {
    a {
      margin-left: 5px;
      cursor: pointer;
      text-decoration: none !important;
    }
  }
  .pull {
    text-align: center;
    a {
      margin-left: 10px;
      color: #fff;

    }
  }
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings', serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
  white-space: nowrap;
}

a.captcha-reload {
  color: #fff;
  text-decoration: underline;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.navbar-inverse {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
  border: none;
  background: transparent;
  & > .container {
    border: 2px solid #7FB800;
    padding: 0;
    max-width: 900px;
  }
  .navbar-collapse {
    padding: 0;
  }
  .navbar-right {
    background-color: #151515;
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: "Oswald", serif;
    font-weight: 100;
    font-size: 18px;
    li {
      background: transparent url("/images/header/navbar.png") no-repeat scroll 100% 50%;
      background-size: 12px;
      min-width: 101px;
      display: inline-block;
      text-align: center;
      float: none;
      padding-right: 12px;
      &:last-child {
        min-width: 87px;
        padding-right: 0;
        background: none;
      }
      a {
        padding: 10px 8px 21px;
        margin-bottom: -11px;
      }
      @media (max-width: 992px) {
        min-width: 90px;
        &:last-child {
          min-width: 78px;
        }
        a {
          padding: 10px 4px 21px;
        }
      }
      &.active {
        a, a:hover, a:focus {
          background: transparent url("/images/header/tabs-active.png") no-repeat scroll 50% 100%;
          -webkit-background-size: 32px auto;
          background-size: 32px auto;
          color: #FFB400;
          font-weight: bold;
        }
      }
    }
  }
  &.admin {
    top: 0;
  }
}

.image-main {
  display: block;
  position: relative;
  overflow: hidden;
  height: 130px;
  width: 200px;
  img {
    display: block;
    cursor: pointer /* example */
  }
  input[type=file] {
    position: absolute;
    top: 0;
    opacity: 0
  }
}

/**********************PRODUCTS***************************/
.products {
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-bottom: 2px solid #F6511D;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  .product {
    display: inline-block;
    width: 29.4%;
    padding: 10px 30px;
    text-align: center;
    border: 1px solid #F6511D;
    margin-right: -5px;
    margin-left: 6%;
    font-family: "Oswald", serif;
    font-size: 14px;
    color: #fff;
    img {
      margin: 0 auto;
    }
    .title-product {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .desc {
      font-weight: 100;
      margin: 10px 0;
      line-height: 17px;
      min-height: 68px;
    }
    .product-size {
      color: #7FB800;
      label {
        font-weight: normal;
        display: table-cell;
        width: 1%;
        input[type=radio] {
          display: none;
        }
        .radio-button {
          display: inline-block;
          padding-left: 15px;
          background: transparent url("/images/radiobutton.png") no-repeat scroll 0 0;
          &.checked {
            background-position: 0 100%;
          }
        }
      }
    }
    .product-buy {
      overflow: hidden;
      margin: 10px 0 0;
      .price {
        display: none;
        float: left;
        font-size: 25px;
        span {
          font-size: 20px;
        }
        &:first-child {
          display: inline-block;
        }
      }
      .buy {
        float: right;
        font-size: 18px;
        padding: 2px 0 4px;
        display: inline-block;
        width: 110px;
        border: 2px solid;
        color: rgb(255, 180, 0);
        border-radius: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &.select {
          border-color: rgb(255, 180, 0);
          background-color: rgb(255, 180, 0);
          color: #000;
        }
      }
    }
    &:first-child {
      margin-left: 0;
      background-color: rgba(137, 137, 137, 0.2);
    }
  }
  &:first-child {
    .product:first-child {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

/*********************EAUTH*********************/

#login-eauth {

  .eauth-list {
    margin: 0;
    .eauth-service {
      margin: 0 3px;
      .eauth-service-link {
        padding: 0;
        width: 32px;
        height: 32px;
        color: transparent;
        overflow: hidden;
        &:before {
          background-image: url("/images/auth.png");
        }
      }
    }
  }
}

/*******************REVIEWS******************/

.creating {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  display: table;
  .create-review {
    display: table-cell;
    vertical-align: middle;
  }
  form {
    height: auto;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #555;
    padding: 0 25px 25px;
  }
}